.page{
    padding: 6.5rem;
    display: flex;
    justify-content: center;
}
.container{   
    border: 2px solid #d1cc93;
    border-radius: 15px;
    background-color:hsla(60, 1%, 50%, 0.643);
    color:#080808;
    font-weight:bold;
    font-size:large;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    min-height: 40rem;
    height: auto;
    width: 37rem;
    padding: 1rem;
}
.box0{
    display: flex;
}
.imagen{
    align-self: center;
    height: 11rem;
    width: 12rem;
    border-radius: 20px;
    margin-left: 2rem;
}
.box1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.box2{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid  #481620;
    border-radius: 20px;
    padding: 0.2rem 1rem;
    width: 32rem;
    height: 11rem;
}
.box2 h2{
    text-decoration: underline  #481620;
}
.box3{
    display: flex;
    width: 32rem;
    justify-content: space-between;
}
.box3 div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.btn {
    margin-top: 1.2rem;
    height: 2.5rem;
    width: 16rem;
    border-radius: 5px;
    background-color: rgb(252, 252, 107);
    color:rgb(10, 10, 10);
    font-size: large;
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;
   
}
.name {
	font-size:xx-large;
	font-style:initial;
	color:#bdf30a;
}